name: EditorConfig checks

on:
  pull_request:

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Check files for EditorConfig compliance
        uses: editorconfig-checker/action-editorconfig-checker@793161630df6daf9c99906e63f378144d125397a # untagged main
        with:
          version: 2.7.0
