name: EditorConfig checks

on:
  pull_request:

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check files for EditorConfig compliance
        uses: editorconfig-checker/action-editorconfig-checker@dea18789dd51fafe172d003a9befd97954be1106 # untagged main
        with:
          version: 2.7.0
