name: Update Flake lockfile
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "51 2 * * 0"

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v27
